{% extends 'base.html.twig' %}

{% block title %}Calcul IMC{% endblock %}

{% block body %}
<h1>Calcul IMC</h1>
    <input id="poids" placeholder="Poids"></input>
    <br><br>
    <input id="taille" placeholder="Taille"></input>
    <br><br>
    <button class="btn btn-success" onclick="calcul()">Calcul</button>
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <h2 id="demo"></h2>
    <script>
        function calcul(){
            //console.log('ok');
            let url ='http://localhost/__symfony/prj-kiwi/public/imc/';
            let poids = document.getElementById('poids').value;
            document.getElementById('poids').value='';// vider input
            let taille = document.getElementById('taille').value;
            document.getElementById('taille').value='';
            let body ={poids:poids,taille:taille};
            axios.post(url,body).then(response =>{
                console.log(response.data);
                document.getElementById('demo').innerHTML= 'imc:'+response.data.imc.toFixed(1)
                + ' tranche :'+ response.data.tranche;
            })
        }
    </script>
{% endblock %}
