{% extends 'base.html.twig' %}

{% block title %}Liste de personnes{% endblock %}

{% block body %}
<h1>
    Personnnes
</h1>
    <div class="col-6">
    <table class="table table-striped">
        <tbody id="mytbody">

        </tbody>
    </table>
    </div>


    <template id="ligne">
        <tr>
            <td>John</td>
            <td>DOE</td>
            <td>
                <button class="btn btn-danger" data-id="23" onclick="enlever(this)">enlever</button>
            </td>
        </tr>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let url= 'http://localhost/__symfony/prj-kiwi/public/api/personne/';
        axios.get(url).then( response => {
            let tableau = response.data;
            console.log(tableau);
            for( let personne of tableau){
                let tbody = document.querySelector('#mytbody');
                let template = document.querySelector('#ligne');
                let clone = template.content.cloneNode(true);
                // je met le clone a l'intérieur du tbody

                 //  un tableau de selecteur td
                let td = clone.querySelectorAll("td");
                td[0].innerHTML = personne.nom;
                td[1].innerHTML = personne.prenom;
                let btn = clone.querySelector('.btn-danger');
                btn.setAttribute('data-id',personne.id);
                tbody.appendChild(clone);
            }

        });
        function enlever(btn){
            let id = btn.getAttribute('data-id');
            console.log(id);
            // effacer le btn
            //btn.remove();
            let url2 = url + id;
             axios.delete(url2).then( response =>{
                 btn.parentElement.parentElement.remove();
             });
        }
    </script>


{% endblock %}
